---
// Import necessary components, modules and types
import MainLayout from "@/layouts/MainLayout.astro";
import CardBlog from "@components/ui/cards/CardBlog.astro";
import CardBlogRecent from "@components/ui/cards/CardBlogRecent.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";

// Get all blogs post in English and sort them based on publish date
const englishBlogEntries = await getCollection("blog", ({ id }) => {
  return id.startsWith("vi/");
});
const blogPosts: CollectionEntry<"blog">[] = englishBlogEntries.sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// Separate the most recent post from others
const mostRecentPost: CollectionEntry<"blog"> = blogPosts[0];
const otherPosts: CollectionEntry<"blog">[] = blogPosts.slice(1);

// Define variables for page content
const title: string = "Vietnamese";
const subTitle: string = "";
const pageTitle: string = `Blog | ${SITE.title}`;
const metaDescription =
  "Stay up-to-date with the latest trends and developments in the construction industry with insights from Sudden Enlightenment's team of industry experts.";
const ogTitle = "Construction Industry Blog | Sudden Enlightenment";
---

<MainLayout
  title={pageTitle}
  customDescription={metaDescription}
  customOgTitle={ogTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://sudden-enlightenment.vercel.app/blog",
    url: "https://sudden-enlightenment.vercel.app/blog",
    name: "Blog | Sudden Enlightenment",
    description:
      "Stay up-to-date with the latest trends and developments in the construction industry with insights from Sudden Enlightenment's team of industry experts.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://sudden-enlightenment.vercel.app",
      name: "Sudden Enlightenment",
      description:
        "Sudden Enlightenment offers top-tier hardware tools and expert construction services to meet all your project needs.",
    },
    inLanguage: "en-US",
  }}
>
  <section
    class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full"
  >
    {/* Page header */}
    <div class="mx-auto max-w-3xl text-left sm:text-center">
      <h1
        class="block text-4xl font-bold tracking-tight text-balance text-neutral-800 md:text-5xl lg:text-6xl dark:text-neutral-200"
      >
        {title}
      </h1>

      <p
        class="mt-4 text-lg text-pretty text-neutral-600 dark:text-neutral-400"
      >
        {subTitle}
      </p>
    </div>
  </section>

  <section
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    {/* Blog posts grid */}
    <div class="grid gap-6 lg:grid-cols-2">
      {otherPosts.map((blogEntry) => <CardBlog blogEntry={blogEntry} />)}
    </div>
  </section>
  {/* Most recent blog post */}
  <section
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <CardBlogRecent blogEntry={mostRecentPost} />
  </section>
</MainLayout>
