---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import CardSmall from "@components/ui/cards/CardSmall.astro";
import CardWide from "@components/ui/cards/CardWide.astro";
import FeaturesStatsAlt from "@components/sections/features/FeaturesStatsAlt.astro";

// Importing necessary functions from Astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";

// Fetching all the sutra related content and sorting it by main.id
const sutra: CollectionEntry<"sutras">[] = (
  await getCollection("sutras", ({ id }) => {
    return id.startsWith("en/");
  })
).sort(
  (a: CollectionEntry<"sutras">, b: CollectionEntry<"sutras">) =>
    a.data.main.id - b.data.main.id
);

// Define variables for page content
const title: string = "Lankavatara sutra";
const subTitle: string = "Lankavatara sutra";
const pageTitle: string = `sutras | ${SITE.title}`;
const metaDescription = "Lankavatara sutra";
const ogTitle = "Lankavatara sutra | Lankavatara sutra";
---

<MainLayout
  title={pageTitle}
  customDescription={metaDescription}
  customOgTitle={ogTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://lankavatara-sutra.vercel.app/sutras",
    url: "https://lankavatara-sutra.vercel.app/sutras",
    name: "Lankavatara sutra",
    description: "Lankavatara sutra",
    isPartOf: {
      "@type": "WebSite",
      url: "https://lankavatara-sutra.vercel.app/",
      name: "Lankavatara sutra",
      description: "Lankavatara sutra",
    },
    inLanguage: "vi",
  }}
>
  <div
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <div class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12">
      <div class="flex items-center gap-12">
        <h1
          class="text-2xl font-bold tracking-tight text-balance text-neutral-800 md:text-4xl md:leading-tight dark:text-neutral-200"
        >
          {title}
        </h1>
        {
          subTitle && (
            <p class="hidden max-w-(--breakpoint-sm) text-pretty text-neutral-600 md:block dark:text-neutral-400">
              {subTitle}
            </p>
          )
        }
      </div>

    </div>
    {/* Displaying sutras in alternating styles. Alternative sutra gets different card styling.
    Maps through all sutra entries and displays them with either CardSmall or CardWide based on their position. */}
    <section class="grid grid-cols-1 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
      {
        sutra.map((sutra, index) => {
          const position = index % 4;
          if (position === 0 || position === 3) {
            return <CardSmall sutra={sutra} />;
          } else {
            return <CardWide sutra={sutra} />;
          }
        })
      }
    </section>
  </div>
  {/* Features statistics section */}
  <FeaturesStatsAlt
    title="Lankavatara sutra"
    subTitle="Lankavatara sutra"
    benefits={[
      "Lankavatara sutra",
      "Lankavatara sutra",
      "Lankavatara sutra",
    ]}
  />

</MainLayout>
