---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/en/faqs.json";
import features from "@data/en/features.json";
import pricing from "@data/en/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
import { getRelativeLocaleUrl } from "astro:i18n";
import { partnersData } from "@/data_files/constants";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
const title = "Lankavatara sutra";
const subTitle = "Lankavatara sutra";
const alt = "Lankavatara sutra";
const content = "Lankavatara sutra";
const heading = "Lankavatara sutra";
const author = "Lankavatara sutra";
const role = "Lankavatara sutra";
const content = "Lankavatara sutra";
const description = "Lankavatara sutra";
const url = "https://lankavatara-sutra.vercel.app";
const btnTitle = "Lankavatara sutra";
const primaryBtn = "Lankavatara sutra";
const primaryBtnURL = "Lankavatara sutra";
const secondaryBtn = "Lankavatara sutra";
---

<MainLayout lang="en">
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle={btnTitle}
    url={url}
  />

  <HeroSection
    title=`<span class="text-yellow-500 dark:text-yellow-400">{title}</span>`
    subTitle={subTitle}
    primaryBtn={primaryBtn}
    primaryBtnURL={getRelativeLocaleUrl("en", "sutras")}
    secondaryBtn={secondaryBtn}
    secondaryBtnURL={getRelativeLocaleUrl("en", "contact")}
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">9.9</span> / 10`
    starCount={4}
    reviews=`<span class="font-bold">12,8k</span> avis`
    src={heroImage}
    alt={alt}
  />

  <ClientsSection
    title={title}
    subTitle={subTitle}
    partners={partnersData}
  />

  <FeaturesGeneral
    title={title}
    subTitle={subTitle}
    src={featureImage}
    alt={alt}
    features={features}
  />

  <FeaturesNavs
    title=`<span class="text-yellow-500 dark:text-yellow-400">{title}</span>`
    tabs={[
      {
        heading: heading,
        content: content,
        svg: "tools",
        src: tools,
        alt: alt,
        first: true,
      },
      {
        heading: "Tableaux de bord intuitifs",
        content: content,
        svg: "dashboard",
        src: dashboard,
        alt: alt,
        second: true,
      },
      {
        heading: "Fonctionnalités robustes",
        content: content,
        svg: "house",
        src: construction,
        alt: alt,
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Questions<br />fréquemment posées" faqs={faqs} />

  <HeroSectionAlt
    title="Construisons ensemble"
    subTitle="ScrewFast est un modèle open source, méticuleusement conçu avec les frameworks Astro, Tailwind CSS et Preline UI."
    url="https://github.com/mearashadowfax/ScrewFast"
  />
</MainLayout>
