---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import featureImage from "@images/features-image.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
const title = "Sudden enlightenment";
const subTitle = "Sudden enlightenment";
const alt = "Sudden enlightenment";
const content = "Sudden enlightenment";
const heading = "Sudden enlightenment";
const author = "Sudden enlightenment";
const role = "Sudden enlightenment";
const description = "Sudden enlightenment";
const url = "https://sudden-enlightenment.vercel.app";
const btnTitle = "Sudden enlightenment";
const primaryBtn = "Start Sudden enlightenment";
---

<MainLayout>
  <HeroSection
    title=`<span class="text-yellow-500 dark:text-yellow-400">{title}</span>`
    subTitle={subTitle}
    primaryBtn={primaryBtn}
    primaryBtnURL="/sutras"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">9.9</span> / 10`
    starCount={4}
    reviews=`<span class="font-bold">99k</span> Reviews`
    src={heroImage}
    alt={alt}
  />

  <FeaturesGeneral
    title={title}
    subTitle={subTitle}
    src={featureImage}
    alt={alt}
    features={features}
  />

  <FAQ title={title} faqs={faqs} />

  <HeroSectionAlt
    title={title}
    subTitle={subTitle}
    url={url}
  />
</MainLayout>
